{% load static %}
<!---<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> Easy2buy 2021 </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">easy2buysdp@gmail.com</span>
				<span  class="px-2">+879-332-9375</span>
			</div>
			<div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>

				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div>
</footer>     //container -->
<div class="footer-dark">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 item">
					<h3>Categories</h3>
					<ul>
						<li><a href="#">Designer sarees</a></li>
						<li><a href="#">Trendy watches</a></li>
						<li><a href="#">Cool shoes</a></li>
						<li><a href="#">And Many More......</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 item">
					<h3>Contact us</h3>
					<ul>
						<li><a href="#">Drop a mail to!!</a></li>
						<li><a href="#">easy2buysdp@gmail.com or</a></li>
						<li><a href="#">tharanivadde365@gmail.com</a></li>
					</ul>
				</div>
				<div class="col-md-6 item text">
					<h3>Easy2Buy</h3>
					<p>We sell you the wide varieties of products and capable of instigating new fashion trends or exemplifies current fashion trends in all its glory. We at easy2buy.com, forever strive to offer you the best and the latest, designer collection of all products through our online portal.</p>
				</div>
				<div class="col item social"><a href="https://github.com/tharani247"><i class="fab fa-github"></i></a><a href="https://www.instagram.com/vadde_tharani"><i class="fab fa-instagram"></i></a><a href="https://twitter.com/tharani247"><i class="fab fa-twitter"></i></a><a href="https://www.linkedin.com/in/tharanivadde/"><i class="fab fa-linkedin"></i></a>
				<a href="https://www.youtube.com/channel/UCpoXIpQXOZ1_eedLFefySQQ/videos"><i class="fab fa-youtube"></i>
				</div>
			</div>
			<br>
			<center><h3>Creator: Tharani Vadde</h3></center>
			<p class="copyright">Easy2Buy © 2021</p>
		</div>
	</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<style>
	.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

</style>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	

</body>
</html>
